* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items {
  width: 98%;
  max-width: 1160px;
  /* min-width: 320px; */
  margin: 0 auto;
  overflow: hidden;
}

.item {
  background: #ccc;
  height: 200px;
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width 680px) {
  .item {
    width: 49%;
  }
}

@media (min-width: 980px) {
  .item {
    width: 32%;
  }
}
